.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .parent {
  border: 1px solid black;
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
  width: 90%;
} */

.child {
  width: 87%;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 13.5rem;
  padding-bottom: 1rem;
  /* padding-right: 1rem; */
  /* border-right: 1px solid #d1d1d1; */
  /* border-left: 1px solid #d1d1d1; */
  max-height: 50rem;
  overflow-y: scroll;
}

.childd {
  display: flex;
  height: 50rem;
  margin: 5px auto;
  z-index: 10;
  position: top;
  display: flex;
  box-sizing: border-box; 
  border-radius: 10px;
  padding-left: 16px;
  padding-right: 16px;
}


